<div class="col-md-6 offset-md-3 mt-5">
        <div class="card text-center">
            <div class="card-header">
                    Ajouter un compte
            </div>
            <div class="text-justify card-body col-md-8 offset-md-2">
                <h6>Code Client: </h6>
                <p>
                    <input class="form-control" type="text" ng-model="client" required />
                </p>
                <h6>Type: </h6>
                <p>
                    <select class="form-control" ng-model="typeCompte">
                        <option value="CC">Compte Courant</option>
                        <option value="CE">Compte Epargne</option>
                    </select>
                </p>
                <h6>Code Compte: </h6>
                <p>
                    <input class="form-control" type="text" ng-model="codeCompte" required />
                </p>
                <h6>Solde: </h6>
                <p>
                    <input class="form-control" type="text" ng-model="solde" required />
                </p>
                <div>
                    <button class="btn btn-info" onclick="return confirm('Etes vous sure?')" ng-click="addcompte()" >Ajouter</button>
                </div>
            </div>
            <div class="card-footer text-muted">
                
            </div>
        </div>
    </div>