<div class="col-md-6 offset-md-3 mt-5">
        <div class="card text-center">
            <div class="card-header">
                    Ajouter un client
            </div>
            <div class="text-justify card-body col-md-8 offset-md-2">
                <h6>Nom Client: </h6>
                <p>
                    <input class="form-control" type="text" ng-model="nomClient" required />
                </p>
                <div>
                    <button class="btn btn-info" onclick="return confirm('Etes vous sure?')" ng-click="addclient()" >Ajouter</button>
                </div>
            </div>
            <div class="card-footer text-muted">
                
            </div>
        </div>
    </div>